html,
body {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 25px;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 4.5em;
}

h2 {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

h3 {
    margin-bottom: 0;
}

p {
    font-size: 30px;
}

a {
    color: rgb(43, 100, 119);
}

a:hover {
    color: rgb(19, 46, 54);
}

hr {
    width: 50%;
    margin: 15px auto;
    border: 1px solid rgba(128, 128, 128, 0.356);
}

/* the main content */
main {
    display: flex;
    width: 850px;
    margin: 1em auto;
    padding: 1em 1em 0 1em;
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: 2px 4px 4px gray;
}

/* the sidebar left */
#left {
    margin-right: 2em;
    width: 30%;
}

#timer {
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.356);
    border-radius: 5px;
    margin: 10px 0;
}

#stars {
    font-size: 1.3em;
    margin: 20px 0 5px 0;
    color: grey;
}

.on {
    color: rgb(245, 215, 47);
    text-shadow: none;
    text-shadow: 2px 2px 4px gray;
}

#small {
    width: 70%;
    display: flex;
    align-content: space-around;
    margin: 0 auto;
}

#small h3 {
    margin: 0;
}

#turn-counter {
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.356);
    border-radius: 5px;
    margin: 0 0 10px 20px;
    width: 40%;
}

#reset {
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.356);
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}

#reset h3 {
    margin: 0;
}

#reset:hover {
    background-color: rgb(75, 131, 150);
    box-shadow: none;
}

#score {
    min-height: 5.5em;
}


/* hedgehog and credit for illustrations */
#credit {
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
    margin-bottom: 0;
}

#credit img {
    width: 100px;
}

#credit p {
    font-size: 1em;
}

#right {
    width: 650px;
    display: flex;
    flex-direction: column;
}

/* the board of the game and the game */
#board {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(90%/4);
    height: calc(90%/4);
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.turnable:hover {
    background-color: rgb(75, 131, 150);
    cursor: pointer;
}

.back img {
    opacity: 0;
}

.front img {
    opacity: 100%;
}

.solved {
    background-color: rgb(175, 175, 175);
    border-radius: 5px;
}

.solved img {
    opacity: 100%;
}

#win-text {
    position: absolute;
    top: 30%;
    left: 50%;
}