html,
body {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 25px;
    width: 98%;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 4.5em;
}

h2 {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

h3 {
    margin-bottom: 0;
}

a {
    color: #374785;
}

a:hover {
    color: #24305e;
}

td {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;
}

hr {
    width: 60%;
    margin: 10px auto;
    border: 1px solid rgba(128, 128, 128, 0.356);
}

/* transitions */
a,
img,
i,
div {
    transition: 250ms;
    -webkit-transition: 300ms;
}

/* the main content */
main {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        'header board'
        'stars board'
        'timer board'
        'turn-counter board'
        'reset board'
        'score board'
        'hedgehog credit';
    width: 850px;
    margin: 1em auto;
    padding: 1em 1em 0 1em;
    background-color: #c2dad0;
    border-radius: 5px;
    box-shadow: 2px 4px 4px gray;
    opacity: 1;
}

/* timer */
#timer {
    grid-area: timer;
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.356);
    border-radius: 5px;
    margin: 7px 0;

}

#timer p {
    margin: 0;
}

/* star rating */
#stars {
    grid-area: stars;
    font-size: 1.3em;
    margin: 10px 0 5px 0;
    color: #f8e9a1;
}

.on {
    color: rgb(245, 215, 47);
    text-shadow: none;
    text-shadow: 2px 2px 4px gray;
}

/* flex container for turn counter */
#small {
    grid-area: turn-counter;
    width: 70%;
    display: flex;
    align-content: space-around;
    margin: 0 auto;
}

#small h3 {
    margin: 0;
}

#turn-counter {
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.356);
    border-radius: 5px;
    margin: 0 0 10px 20px;
    width: 40%;
}

/* reset button */
.reset {
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.356);
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}

#reset {
    grid-area: reset;
}

.reset h3 {
    margin: 0;
}

.reset:hover {
    background-color: #c2b9b0;
    box-shadow: none;
}

/* high score */
#score {
    grid-area: score;
}

#score h3 {
    margin: 10px 0 0 0;
}

table {
    margin: 0 auto;
    width: 90%;
}

/* the board of the game and the game */
#board {
    grid-area: board;
    width: 580px;
    height: 580px;
    margin-left: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 125px;
    height: 125px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.turnable:hover {
    background-color: #c2b9b0;
    cursor: pointer;
}

.back img {
    opacity: 0;
}

.front img {
    opacity: 100%;
}

.solved {
    background-color: #afd275;
    border-radius: 5px;
}

.solved img {
    opacity: 100%;
}

/* win alert */
#win-text {
    position: absolute;
    top: -100%;
    left: 35%;
}

#win-text p {
    font-size: 1.5em;
    margin-top: 0;
    padding: 5px;
    background-color: rgba(194, 218, 208, 0.76);
    border-radius: 4px;
}

input {
    margin: 0 auto 30px auto;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    border: 2px solid rgba(128, 128, 128, 0.356);
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
}

#new-player {
    height: 2em;
    padding: 10px 0 10px 10px;
    display: block;
}

/* hedgehog and credit for illustrations */
#credit {
    grid-area: credit;
}

#credit img {
    width: 100px;
}

#credit p {
    font-size: 1em;
    text-align: right;
    margin-right: 2em;
}

#hedgehog {
    grid-area: hedgehog;
    text-align: left;
}

#hedgehog img {
    height: 80px;
}

/* for tablets */
@media only screen and (max-width: 900px) {
    body {
        width: 98%;
    }

    main {
        width: 90%;
        margin: 1em auto;
        grid-template-columns: 32% 25% 32%;
        grid-template-rows: 50px 50px 50px auto auto;
        justify-content: space-between;
        grid-template-areas:
            'header turn-counter score'
            'header timer score'
            'stars reset score'
            'board board board'
            'hedgehog . credit';
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 15px;
        letter-spacing: 0.5;
    }

    #reset {
        font-size: 20px;
    }

    #reset h3 {
        margin: 5px 0 0 0;
    }

    #stars {
        margin: 0;
        font-size: 1.1em;
    }

    hr {
        margin: 5px auto;
    }

    #score {
        font-size: 22px;
    }

    #board {
        margin: 20px auto 0 auto;
    }

    #credit p {
        font-size: 20px;
        margin-right: 0;
    }
}

/* for inbetween tablets & phones */
@media only screen and (max-width: 700px) {

    #board {
        width: 450px;
        height: 450px;
    }

    .card {
        width: 100px;
        height: 100px;
    }

    #stars {
        font-size: 1em;
        margin-top: 23px;
    }
}


/* for phones */
@media only screen and (max-width: 500px) {

    body {
        background-color: #c2dad0;
    }

    main {
        width: 95%;
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(5, auto);
        justify-content: space-around;
        grid-template-areas:
            'header score'
            'board board'
            'stars reset'
            'turn-counter timer'
            'hedgehog credit';
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    h1 {
        font-size: 3em;
    }


    #small {
        margin-top: 10px;
    }

    #board {
        height: 300px;
        width: 300px;
        margin-bottom: 40px;
    }

    #stars {
        font-size: 1em;
        margin-top: 0;
    }

    .card {
        width: 70px;
        height: 70px;
    }

    #win-text {
        left: 10%;
    }

}