html, body {
    width: 99%;
    height: 99%;
    background-color: lightblue;
}

#board {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(90%/4);
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}